<div style="text-align:center">
<h1>First World War Graffiti</h1>
<p>Welcome to our web site!</p>
<p>Here you will find information on WW1 soldiers.</p>
<p>
<ul>
<li><a href="/list">View our list of soldier graffiti</a></li>
<li><a href="/about">About us</a></li>
</ul>
</p>
<p>Brought to you by <a href="http://www.durandgroup.org.uk">The Durand Group</a></p>
</div>
