<h1>World War 1 Graffiti</h1>
<p>Welcome to our web site.</p>
<p>Here you will find information on WW1 soldiers.</p>
<p>
<ul>
<li><a href="/list">View our list of soldier graffiti</a></li>
<li><a href="/about">About us</a></li>
</ul>
</p>
<p>Brought to you by the WW1 Graffiti society</p>
