<%= form_for @graffiti do |f| %>

  <% if @graffiti.errors.any? %>
  <div class="row">
    <div id="error_explanation">
      <strong>
        <%= pluralize(@graffiti.errors.count, "error") %> prevented
        this entry from being saved:
      </strong>
      <ul>
        <% @graffiti.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>


  <div class="row">
    <div class="large-6 medium-6 columns">
      <%= f.label :surname %>
      <%= f.text_field :surname %>
    </div>
 
    <div class="large-6 medium-6 columns">
      <%= f.label :forenames %>
      <%= f.text_field :forenames %>
    </div>
  </div>
 
  <div class="row">
    <div class="large-6 medium-6 columns">
      <%= f.label :rank %>
      <%= f.text_field :rank %>
    </div>
 
    <div class="large-6 medium-6 columns">
      <%= f.label :soldier_number %>
      <%= f.text_field :soldier_number %>
    </div>
  </div>
 
  <div class="row">
    <div class="large-6 medium-6 columns">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>

    <div class="large-6 medium-6 columns">
      <%= f.label :survived_war %>
      <%= f.text_field :survived_war %>
    </div>
  </div>
 
  <div class="row">
    <div class="large-6 medium-6 columns">
    <%= f.label(:dob, "Date of birth") %>
    <%= f.date_select(:dob, use_short_month: true, order: [:day, :month, :year], start_year: 1800, end_year: 1950, include_blank: true) %>
    </div>
 
    <div class="large-6 medium-6 columns">
      <label>Date of graffiti</label>
      <%= f.select :graffiti_dayinmonth, (1)..(31), include_blank: true %>
        <%= f.select('graffiti_month', options_for_select([['Jan', 1], ['Feb', 2], ['Mar', 3], ['Apr', 4], ['May', 5], ['Jun', 6], ['Jul', 7], ['Aug', 8], ['Sep', 9], ['Oct', 10], ['Nov', 11], ['Dec', 12]]), include_blank: true) %> 
        <%= f.select :graffiti_year, (1900)..(1950), include_blank: true %>
    </div>
  </div>
 
  <div class="row">
    <div class="large-6 medium-6 columns">
      <%= f.label :notes %>
      <%= f.text_area :notes, size: "55x3" %>
    </div>
 
    <div class="large-6 medium-6 columns">
      <%= f.submit "Save", class: 'small radius button' %>
    </div>
  </div>
<% end %>
